@charset "UTF-8";
/* CSS Document */

p, h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
	
}

.footer {
	background-color: #454444;
	width: 100%;
	padding: 1%;
	align-items: center;
	display: flex
}

.footer-logo {
	align-items: center;
	display: flex;
	width: 50%;
}

.footer-logo p {
	color: white;
	display: inline;
	text-align: center;
	margin: 2%
}

.footer-logo img {
	display: inline;
	margin: 4%;
}

.footer-menu {
	align-items: center;
	display: flex;
	float: right;
	width: 50%;
}

.footer-menu p {
	color: white;
	display: inline;
	float: right;
	margin: 2%;
}

body {
	width: 100%;
}