@charset "UTF-8";
/* CSS Document */

p, h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
	
}

.footer {
	background-color: #454444;
	width: 100%;
	padding: 1%;
	align-items: center;
	display: flex
}

.footer p {
	color: white;
	display: inline;
	text-align: center;
	margin: 1%
}

.footer img {
	display: inline;
	margin: 2%;
}

body {
	width: 100%;
}